*{
    padding: 0;
    margin: 0;
    font-family: 'Poppins', sans-serif;
}

p{
    font-size: 14px;
}

.navbar{
    position :fixed;
    width : 100vw;
    background-color: #D9D9D9;
    height : 50px;
    z-index: 100;
}

.nav-menu{
    width : 100%;
    display : flex;
    justify-content : center;
}

.nav-items{
    padding : 15px;
    text-decoration : none;
    color: black;
}

.main-title{
    padding-top: 100px;
    padding-bottom: 10px;
    font-size: 40px;
    text-align : center;
}

.container{
    width: 60%;
    display: flex;
    justify-content : space-around;
    margin-left : auto;
    margin-right: auto;
    margin-top: 50px;
}

.flex-row{
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 20px;
}

.flex-col{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
}

.thentara{
    background-color: #D5FFDD;
    border-radius: 20px;
    width: 490px;
    height: 180px;
}

.thentara .content{
    position: relative;
    top: -48px;
}

.thentara .flex-col{
    gap: 5px;
    align-items: start;
}

.thentara .flex-row{
    gap: 5px;
    display: flex;
}

.thentara .button-thentara{
    position: relative;
    top: 40px;
    color: white;
    font-size: 20px;
    background-color: #399349;
    border-radius: 15px;
    border: none;
    width: 240px;
    height: 37px;
}

.si-kuning{
    background-color: #FFF4DC;
    border-radius: 20px;
    width: 235px;
    height: 180px;
}

.si-kuning img{
    position: relative;
    top: -40px;
    left: 50px;
}

.si-kuning .button-si-kuning{
    background-color: #E29A00;
    position: relative;
    left: 50px;
    top: -110px;
    border-radius: 20px;
    border: none;
    color: white;
    font-size: 20px;
}

.si-kuning .flex-col{
    position: relative;
    top: 50px;
    right: 50px;
}

.si-kuning .button-si-kuning{
    width: 173px;
    height: 37px;
}

.pramugari {
    background-color: #FFCED7;
    border-radius: 20px;
    width: 235px;
    height: 180px;
}

.pramugari img{
    position: relative;
    top: -39px;
    left: 50px;
}

.pramugari .flex-col{
    position: relative;
    top: 50px;
    right: 50px;
}

.pramugari .button-pramugari{
    background-color: #FF5573;
    border-radius: 20px;
    border: none;
    color: white;
    font-size: 20px;
    width: 173px;
    height: 37px;
    position: relative;
    left: 50px;
    top: -110px;
}

.fotografer{
    background-color: #E2F2FF;
    width: 230px;
    height: 380px;
    border-radius: 20px;
}

.fotografer img{
    padding-top: 30px;
}

.fotografer p{
    padding: 10px 25px 10px 25px;
}

.fotografer .fotografer-desc{
    text-align: center;
    padding: 15px;
}

.button:hover{
    cursor: pointer;
}

.fotografer .button-fotografi{
    background-color: #3279AF;
    border-radius: 20px;
    margin-top: 13px;
    border: none;
    color: white;
    font-size: 20px;
    width: 173px;
    height: 37px;
}

.Dok-Pil-Ilm{
    background-color: #f4f4f4;
    width: 503px;
    border-radius: 20px;
    margin-left: 15px;
    padding: 30px 40px 30px 40px;
    display: flex;
    justify-content: center ;
}

.Dok-Pil-Ilm .flex-col{
    gap: 10px;
}

.Dok-Pil-Ilm .content{
    align-items: start;
}

.dokter{
    background-color: white;
    padding: 20px;
    width: 370px;
    border-radius: 20px;
    border-style: solid;
    border-width: 1px;
    border-color: #D8D6C1;
}

.dokter .button-dokter{
    background-color: #D8D6C1;
    width: 149px;
    height: 22px;
    border-radius: 10px;
    border: none;
    color: white;
}

.pilot{
    background-color: white;
    padding: 20px;
    width: 370px;
    border-radius: 20px;
    border-style: solid;
    border-width: 1px;
    border-color: #D8D6C1;
}

.pilot .button-pilot{
    background-color: #D8D6C1;
    width: 149px;
    height: 22px;
    border-radius: 10px;
    border: none;
    color: white;
}

.ilmuan{
    background-color: white;
    padding: 20px;
    width: 370px;
    border-radius: 20px;
    border-style: solid;
    border-width: 1px;
    border-color: #D8D6C1;
}

.ilmuan .button-ilmuan{
    background-color: #D8D6C1;
    width: 149px;
    height: 22px;
    border-radius: 10px;
    border: none;
    color: white;
}

.Pem-Nout{
    background-color: #f4f4f4;
    border-radius: 20px;
    width: 500px;
    padding: 17px 40px 17px 40px;
    margin-left: 15px;
}

.Pem-Nout img{
    width: 110px;
    height: 110px;
}

.Pem-Nout .pem-nout-desc{
    gap: 1px;
    padding: 1px;
    align-items: start;
}

.Pem-Nout button{
    background-color: #D8D6C1;
    margin-top: 10px;
    color: white;
    width: 100px;
    height: 55px;
    border-radius: 10px;
    border: none;
}

@media(max-width: 1280px){
    .main-title{
        padding-top: 100px;
        padding-bottom: 10px;
        font-size: 35px;
        text-align : center;
    }

    .container{
        padding: 50px 0px;
        flex-direction: column;
    }

    .flex-row{
        display: flex;
        flex-direction: row;
        align-items: center;
        gap: 20px;
    }

    .flex-col{
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 20px;
    }

    .responsive{
        flex-direction: column;
    }

    .thentara{
        background-color: #D5FFDD;
        border-radius: 20px;
        width: 289px;
        height: 299px;
    }

    .thentara .content{
        flex-direction: column;
        position: relative;
        top: -48px;
    }

    .thentara .flex-col{
        position: relative;
        top: 40px;
        align-items: center;
    }

    .thentara .flex-row{
        gap: 0px;
        display: flex;
    }

    .thentara .button-thentara{
        position: relative;
        top: -110px;
        color: white;
        font-size: 20px;
        background-color: #399349;
        border-radius: 10px;
        border: none;
        width: 240px;
        height: 37px;
    }

    .si-kuning{
        background-color: #FFF4DC;
        border-radius: 20px;
        width: 288.53px;
        height: 221px;
    }

    .si-kuning img{
        width: 200px;
        position: relative;
        top: -22px;
        left: 50px;
    }

    .si-kuning .button-si-kuning{
        background-color: #E29A00;
        position: relative;
        top: -110px;
        border-radius: 10px;
        border: none;
        color: white;
        font-size: 20px;
    }

    .si-kuning .flex-col{
        position: relative;
        top: 50px;
        right: 50px;
    }

    .si-kuning .button-si-kuning{
        width: 212.41px;
        height: 45.43px;
    }

    .pramugari {
        background-color: #FFCED7;
        border-radius: 20px;
        width: 289px;
        height: 241.19px;
    }

    .pramugari img{
        width: 200px;
        position: relative;
        top: -8px;
        left: 50px;
    }

    .pramugari .flex-col{
        position: relative;
        top: 50px;
        right: 50px;
    }

    .pramugari .button-pramugari{
        background-color: #FF5573;
        border-radius: 10px;
        border: none;
        color: white;
        font-size: 20px;
        width: 212.75px;
        height: 49.3px;
        position: relative;
        top: -100px;
    }

    .fotografer{
        background-color: #E2F2FF;
        width: 289px;
        height: 314px;
        margin-top: 30px;
        border-radius: 20px;
    }

    .fotografer img{
        width: 230px;
        position: relative;
    }

    .fotografer .flex-col{
        position: relative;
        bottom: 60px;
    }

    .fotografer .fotografer-desc{
        text-align: center;
    }

    .fotografer .button-fotografi{
        background-color: #3279AF;
        border-radius: 10px;
        border: none;
        position: relative;
        bottom: 150px;
        color: white;
        font-size: 20px;
        width: 212.41px;
        height: 45.43px;
    }

    .Dok-Pil-Ilm{
        background-color: white;
        width: 503px;
        display: flex;
        justify-content: center ;
    }

    .Dok-Pil-Ilm .flex-col{
        gap: 20px;
    }

    .Dok-Pil-Ilm h4{
        color: transparent;
    }

    .Dok-Pil-Ilm .content{
        align-items: center;
    }

    .dokter{
        border: none;
        background-color: #E9E8E2;
        width: 250px;
        height: 223px;
    }

    .dokter img{
        width: 245px;
        
    }

    .dokter .button-dokter{
        background-color: #CAC8B3;
        font-size: 20px;
        width: 212.41px;
        position: relative;
        bottom: 130px;
        height: 45.43px;
        border-radius: 10px;
        border: none;
        color: white;
    }

    .pilot{
        border: none;
        background-color: #E9E8E2;
        width: 250px;
        height: 223px;
    }

    .pilot img{
        width: 245px;
    }

    .pilot .button-pilot{
        background-color: #CAC8B3;
        font-size: 20px;
        width: 212.41px;
        position: relative;
        bottom: 120px;
        height: 45.43px;
        border-radius: 10px;
        border: none;
        color: white;
    }

    .ilmuan{
        border: none;
        background-color: #E9E8E2;
        width: 250px;
        height: 223px;
    }

    .ilmuan img{
        width: 240px;
    }

    .ilmuan .button-ilmuan{
        background-color: #CAC8B3;
        font-size: 20px;
        width: 212.41px;
        position: relative;
        bottom: 120px;
        height: 45.43px;
        border-radius: 10px;
        border: none;
        color: white;
    }

    .Pem-Nout{
        background-color: white;
    }

    .Pem-Nout .responsive{
        flex-direction: column;
    }

    .pembalap{
        flex-direction: column;
        border: none;
        border-radius: 20px;
        background-color: #FFDBC5;
        width: 288.53px;
        height: 223px;
    }

    .pembalap button{
        background-color: #E36415;
        color: white;
        position: relative;
        font-size: 20px;
        top: -90px;
        width: 212.41px;
        height: 45.43px;
        border-radius: 10px;
        border: none;
    }

    .astronout{
        flex-direction: column;
        border: none;
        border-radius: 20px;
        background-color: #8FC5ED;
        width: 288.53px;
        height: 223px;
    }

    .astronout button{
        background-color: #275E87;
        color: white;
        position: relative;
        font-size: 20px;
        top: -90px;
        width: 212.41px;
        height: 45.43px;
        border-radius: 10px;
        border: none;
    }

    .Pem-Nout img{
        width: 200px;
        height: 200px;
        position: relative;
        bottom: -25px;
    }

    .Pem-Nout h4{
        color: transparent;
    }
}